# ‚úÖ 1. Variables

What is a Variable?


A variable is a name that refers to a value stored in the computer‚Äôs memory. Think of it like a label on a jar that holds data.

* JAVA   
 String name="Sravani",
 int id =24,
 float amount = 25000.23,
 boolean Availble =True.

In [1]:
name='Sravani' #Fror String
print(name)
type(name)

Sravani

str

In [2]:
id = 22311011 #Integer
print(id)
type(id)

22311011

int

In [3]:
fl= 240000.23 #Float
print(fl)
type(fl)

240000.23

float

In [4]:
Avl = True #Bool
print(Avl)
type(Avl)

True

bool

---

# ‚úÖ 2. USER_INPUTS





System.out.println("ENTER UR NUMBER:") -JAVA

In [5]:
n=input("Enter your Number:") #input Default Str
print(n, type(n))

surya <class 'str'>

In [6]:
n=int(input("Enter your Number:")) #input Int
print(n, type(n))

455 <class 'int'>

In [7]:
f = float(input("Enter a float: "))
b = input("Enter a boolean (True/False): ").strip().lower() == "true"

print(f, type(f))
print(b, type(b))

520.231 <class 'float'>
True <class 'bool'>

---

# ‚úÖ 3. TYPE CONVERSIONS





üîπ Why convert types?
Sometimes, you need to switch between data types to do certain operations.

üîÅ Type Casting Examples:

In [8]:
a=input("enter ur number:")
print(a) #Displaying or Print
a #Calling
type(a)

Surya

str

In [9]:
#str->int  BY Storing in ANOTHER VARIABLE
contact=input("Enter ur Phone Number:")
print(contact, type(contact))
ic=int(contact)
print(ic, type(ic))

23433 <class 'str'>
23433 <class 'int'>

In [10]:
#STR TO INT ITSELF
contact=input("Enter ur Phone Number:")
print(contact, type(contact))
contact=int(contact)
print(contact, type(contact))

454455 <class 'str'>
454455 <class 'int'>

In [11]:
#INT TO STR ITSELF
contact=int(input("Enter ur Phone Number:"))
print(contact, type(contact))
contact=str(contact)
print(contact, type(contact))

2324 <class 'int'>
2324 <class 'str'>

In [12]:
#INT TO FLOAT ITSELF
contact=int(input("Enter ur Phone Number:"))
print(contact, type(contact))
contact=float(contact)
print(contact, type(contact))

2313425 <class 'int'>
2313425.0 <class 'float'>

In [13]:
#Float TO INT ITSELF
contact=float(input("Enter ur Phone Number:"))
print(contact, type(contact))
contact=int(contact)
print(contact, type(contact))

32432.255 <class 'float'>
32432 <class 'int'>

In [14]:
#Float TO STR ITSELF
contact=float(input("Enter ur Phone Number:"))
print(contact, type(contact))
contact=str(contact)
print(contact, type(contact))

32423.255 <class 'float'>
32423.255 <class 'str'>

In [15]:
#Str TO Float ITSELF
contact=input("Enter ur Phone Number:")
print(contact, type(contact))
contact=float(contact)
print(contact, type(contact))

345367.565 <class 'str'>
345367.565 <class 'float'>

In [16]:
# int to float
x = 5
y = float(x)    
print(y)   # y becomes 5.0

# float to int
z = int(3.9) 
print(z)      # z becomes 3 (decimal cut off)

# string to int
s = "123"
n = int(s)     
print(n)    # n becomes 123

# int to string
age = 20
str_age = str(age)
print(str_age) # "20"

5.0
3
123
20

---

# ‚úÖ 4.DATA TYPES

1. Integer (int)

* Used to represent whole numbers.
* No decimals.
* Positive or negative.

In [17]:
x = 10      # int
y = -3      # intS
x,y

(10, -3)

 2. Float (float)

* Used for decimal or fractional numbers.
* Includes decimal point.

In [18]:
price = 10.99     # float
height = 5.8      # float
price , height

(10.99, 5.8)

 3. String (str)

* Used for textual data.
* Enclosed in single (') or double (") quotes.

In [19]:
name = "Ali"
greeting = 'Hello'
print(greeting,name)

Hello Ali

 4.Boolean (bool)
* Represents True or False values.

* Useful in conditions or logic checks.

In [20]:
sunny = True
is_raining = False
print(sunny)

True

5.List (list)
A list is like a box of items in a specific order where you can change, add, or remove items.

* Ordered, changeable (mutable) collection.
* Allows duplicates.
* Can contain mixed data types.

üß† Real-World Example:
Shopping cart: ["shoes", "shirt", "watch"]

To-do list items.

In [21]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3]
mix = [1, "Ali", 3.5]
mix_dup=mix.copy()
mix_dup

mix_dup[1]="SravaniA" #Changeable
mix_dup
mix_dup.append("SravaniA") #Duplicates
mix_dup
9
ls=[22,31,12,1234,111,2,7,48]
ls

[22, 31, 12, 1234, 111, 2, 7, 48]

In [22]:
#Creating a List 
my_list = [10, 20, 30, 40]
#For Adding or Appending(Adds item to end)
my_list.append(50)
print("Appeneded List:",my_list)
my_list_s=my_list.copy()
my_list_s.reverse()
print(my_list_s)

#For inserting in  a Specific Place (Adds item at specific position)
#Replacing index 1(20) with 80
my_list.insert(1,80)
print("Modified list:",my_list)


#For Removing a Value in the list 
#want to Remove 20 in the List
my_list.remove(20)
print(my_list)

#For Removing a Last Value
my_list.pop()
print("List AFTER POP:",my_list)

# Sorting 
my_list.sort() #By Default it is in Asc Order
print("Asc sorted list:",my_list)

my_list.reverse() #Sorting in Desc
#my_list.sort(reverse=True)
print("Desc Order:",my_list)

#Finding Index
ind=my_list.index(40)
print("Index for 40 value is:", ind)

#Count of List
mix_dup
mix_rep=mix_dup.count('SravaniA')
print("No of Times SravaniA Repeated:", mix_rep) #Count of Value Re-Occurance

Appeneded List: [10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]
Modified list: [10, 80, 20, 30, 40, 50]
[10, 80, 30, 40, 50]
List AFTER POP: [10, 80, 30, 40]
Asc sorted list: [10, 30, 40, 80]
Desc Order: [80, 40, 30, 10]
Index for 40 value is: 1
No of Times SravaniA Repeated: 2

6.Tuple (tuple)

A tuple is like a locked box. You can look inside but can‚Äôt change the contents after creation.

* Ordered, unchangeable (immutable) collection.
* Allows duplicates.

(COUNT, INDEX, SORTING)

üß† Real-World Example:
Geographic coordinates: (latitude, longitude)

Birth date: (year, month, day)

In [23]:
colors = ("red", "blue", "green")
coordinates = (10.5, 20.2)
print(colors,coordinates)

('red', 'blue', 'green') (10.5, 20.2)

In [24]:
my_tuple = (10, 20, 30)

t=(10,20,30)
#Iteration
for item in t:
    print(item)

#To Count the value How many times Occured
print("The value 10 no of times occured", my_tuple.count(10))

#To find the index of value =30
print("Value 30 index is",my_tuple.index(30))

#Sorting
sorted_tuple=sorted(my_tuple)
print(sorted_tuple)

#indexing
print(my_tuple[1])

#Slicing
print(my_tuple[0:2])

#Len
print("len of tuple",len(my_tuple))

#Membership Check
print(20 in my_tuple)
print(40 not in t)  # True   # True

#Repetation 
print("Rep",my_tuple * 4)

#Count Elements
t = (1, 2, 3, 2, 4, 2)
print("Countelements",t.count(2))  # Output: 3


a = (1, 2)
b = (3, 4)
c = a + b
print("Conc",c)  # Output: (1, 2, 3, 4)

10
20
30
The value 10 no of times occured 1
Value 30 index is 2
[10, 20, 30]
20
(10, 20)
len of tuple 3
True
True
Rep (10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)
Countelements 3
Conc (1, 2, 3, 4)

7. Set (set)
* Unordered, no duplicates.
* Useful for unique values only.


Definition:
A set is like a bag of unique values‚Äîno duplicates allowed, and order doesn‚Äôt matter.


üß† Real-World Example:
Voter IDs (no duplicates)

Subjects chosen in a course.

In [25]:
unique_numbers = {1, 2, 3}
colors = {"red", "green", "blue"}
print(unique_numbers)
print(colors)

{1, 2, 3}
{'green', 'red', 'blue'}

In [26]:
my_set = {10, 20, 30}

#adding singel element in the set
my_set.add(30)
print("Added Set:",my_set)

#For Removing a value only if it exists
my_set.remove(20)
my_set

#Also Removes a Value but No ERROR If the item is doesn't exist
my_set.discard(50)  # No error even though 50 not in set
print(my_set) 

#Empites the set
my_set.clear()
print(my_set)

#UNION - Combines two sets (all elements, no duplicates).
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # Output: {1, 2, 3, 4, 5}

#Intersection - Returns only common elements between sets.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # Output: {2, 3}

#Difference()-Returns items only in the first set, not in the second.
a = {1, 2, 3, 4}
b = {3, 4, 5}
print(a.difference(b)) 
print(b.difference(a)) # Output: {1, 2}

Added Set: {10, 20, 30}
{10, 30}
set()
{1, 2, 3, 4, 5}
{2, 3}
{1, 2}
{5}

8. Dictionary (dict)
* Collection of key-value pairs.
* Ordered (Python 3.7+), changeable, no duplicate keys.

 Definition:
A dictionary is like a real dictionary ‚Äî it maps a key to a value.

üß† Real-World Example:
Contact info: {"name": "Sara", "phone": "123456789"}

Student record with ID, name, scores.

In [27]:
person = {"name": "Ayaan", "age": 25}
student = {"id": 101, "grade": "A"}
print(person, student)

{'name': 'Ayaan', 'age': 25} {'id': 101, 'grade': 'A'}

In [28]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

In [29]:
#It  Can mutable 

#keys = name, age, city
#values = alice, 25, NY

#getting the data
print(person.get("contact","NA")) #if contact is there print or else print NA

#get Keys, values and items
print("Keys are ",person.keys())
print("Values are ",person.values())
print("items are",person.items())

NA
Keys are  dict_keys(['name', 'age', 'city'])
Values are  dict_values(['Alice', 25, 'New York'])
items are dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [30]:
person["name"]="Surya"
print(person)

{'name': 'Surya', 'age': 25, 'city': 'New York'}

In [31]:
person.update({"c": 3, "a": 100})
print(person)  # {'a': 100, 'b': 2, 'c': 3}

{'name': 'Surya', 'age': 25, 'city': 'New York', 'c': 3, 'a': 100}

In [32]:
person.pop("a")  # want to remove value by using Key 'a' 
print(person)

{'name': 'Surya', 'age': 25, 'city': 'New York', 'c': 3}

In [33]:
person.popitem()
print(person)  #Last in will remove

{'name': 'Surya', 'age': 25, 'city': 'New York'}

In [34]:
person.clear()
print(person) #WANT TO CLEAR ENTIRE Dict

{}

---